[build]
  command = "npm run build"
  publish = ".next"

[functions]
  included_files = ["node_modules/**"]

[[plugins]]
  package = "@netlify/plugin-nextjs"

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/___netlify-handler"
  status = 200
